-- PRODUCTION SCHEMA - Proper Data Types
-- Auto-generated with intelligent type detection
-- Generated: 2026-02-06 22:45:31.665947

-- Drop existing tables
DROP TABLE IF EXISTS fct_order_items, fct_payments, fct_app_events, fct_app_links CASCADE;
DROP TABLE IF EXISTS fct_bonus_codes, fct_campaigns, fct_invoice_items, fct_notifications CASCADE;
DROP TABLE IF EXISTS user_events_export, most_ordered CASCADE;
DROP TABLE IF EXISTS dim_users, dim_menu_items, dim_items, dim_sections, dim_menu_sections CASCADE;
DROP TABLE IF EXISTS dim_add_ons, dim_add_on_categories, dim_menu_item_add_ons CASCADE;
DROP TABLE IF EXISTS dim_menu_item_add_on_categories, dim_taxonomy_terms, dim_bill_of_materials CASCADE;
DROP TABLE IF EXISTS dim_campaigns, dim_products CASCADE;

-- dim_users (from dim_users.csv)
CREATE TABLE dim_users (
    id BIGINT PRIMARY KEY,
    user_id BIGINT,
    created BIGINT,
    updated BIGINT,
    account_closure_requested BOOLEAN,
    age_group_id BIGINT,
    app_version BIGINT,
    area_id BIGINT,
    cltv DECIMAL(15,2),
    country VARCHAR(13),
    currency VARCHAR(14),
    date_of_birth BIGINT,
    do_not_contact BOOLEAN,
    first_name VARCHAR(41),
    gender_id BIGINT,
    last_name VARCHAR(40),
    mobile_phone INTEGER,
    picture VARCHAR(255),
    orders INTEGER,
    redeemed_points INTEGER,
    referring_user_id BIGINT,
    referring_place_id BIGINT,
    savings DECIMAL(15,2),
    source VARCHAR(62),
    "type" VARCHAR(19),
    api_key VARCHAR(58),
    roles VARCHAR(130),
    email VARCHAR(43),
    password VARCHAR(100),
    referral_id BIGINT,
    otp INTEGER,
    language VARCHAR(13),
    email_temp VARCHAR(61),
    mobile_phone_temp BIGINT,
    mobile_phone_valid BOOLEAN,
    email_valid BOOLEAN,
    barcode_scanner_ids VARCHAR(128),
    receipt_printer_ids TEXT,
    payment_terminal_ids VARCHAR(500),
    notifications VARCHAR(255),
    favorite_place_ids VARCHAR(44)
);

-- dim_menu_items (from dim_menu_items.csv)
CREATE TABLE dim_menu_items (
    id BIGINT PRIMARY KEY,
    section_id BIGINT,
    created BIGINT,
    title VARCHAR(104),
    "type" VARCHAR(22),
    "status" VARCHAR(28),
    rating INTEGER,
    votes INTEGER,
    purchases INTEGER,
    price DECIMAL(15,2),
    index INTEGER
);

-- dim_items (from dim_items.csv)
CREATE TABLE dim_items (
    id BIGINT PRIMARY KEY,
    user_id BIGINT,
    created BIGINT,
    updated BIGINT,
    accounting_reference INTEGER,
    barcode VARCHAR(61),
    deleted BOOLEAN,
    delivery BOOLEAN,
    demo_mode BOOLEAN,
    description TEXT,
    discountable BOOLEAN,
    display_for_customers BOOLEAN,
    eat_in BOOLEAN,
    external_id BIGINT,
    image VARCHAR(255),
    index INTEGER,
    number INTEGER,
    price DECIMAL(15,2),
    purchases INTEGER,
    removable_ingredients BOOLEAN,
    section_id BIGINT,
    "status" VARCHAR(28),
    takeaway BOOLEAN,
    title VARCHAR(255),
    trainee_mode BOOLEAN,
    "type" VARCHAR(25),
    variable_price BOOLEAN,
    vat DECIMAL(15,2),
    voucher BOOLEAN,
    add_on_category_ids VARCHAR(82),
    printer_category_ids VARCHAR(32),
    standard_voucher_validity INTEGER,
    manage_inventory BOOLEAN,
    all_you_can_eat BOOLEAN,
    all_you_can_eat_item_ids TEXT,
    all_you_can_eat_validity INTEGER
);

-- dim_sections (from dim_sections.csv)
CREATE TABLE dim_sections (
    id BIGINT PRIMARY KEY,
    user_id BIGINT,
    created BIGINT,
    updated BIGINT,
    title VARCHAR(88),
    place_id BIGINT,
    deleted BOOLEAN,
    demo_mode BOOLEAN,
    trainee_mode BOOLEAN,
    description VARCHAR(500),
    index INTEGER,
    external_id BIGINT,
    "type" VARCHAR(19)
);

-- dim_menu_sections (from dim_menu_sections.csv)
CREATE TABLE dim_menu_sections (
    id BIGINT PRIMARY KEY,
    place_id BIGINT,
    created BIGINT,
    title VARCHAR(79),
    "type" VARCHAR(19)
);

-- dim_add_ons (from dim_add_ons.csv)
CREATE TABLE dim_add_ons (
    id BIGINT PRIMARY KEY,
    user_id BIGINT,
    created BIGINT,
    updated BIGINT,
    category_id BIGINT,
    deleted BOOLEAN,
    demo_mode BOOLEAN,
    index INTEGER,
    price DECIMAL(15,2),
    select_as_default BOOLEAN,
    "status" VARCHAR(28),
    title VARCHAR(113)
);

-- dim_add_on_categories (from dim_add_on_categories.csv)
CREATE TABLE dim_add_on_categories (
    id BIGINT PRIMARY KEY,
    user_id BIGINT,
    created BIGINT,
    updated BIGINT,
    deleted BOOLEAN,
    demo_mode BOOLEAN,
    index INTEGER,
    max_selections INTEGER,
    min_selections INTEGER,
    multiple_selections BOOLEAN,
    place_id BIGINT,
    title VARCHAR(125),
    "type" VARCHAR(23)
);

-- dim_menu_item_add_ons (from dim_menu_item_add_ons.csv)
CREATE TABLE dim_menu_item_add_ons (
    id BIGINT PRIMARY KEY,
    category_id BIGINT,
    created BIGINT,
    title VARCHAR(70),
    select_as_default BOOLEAN,
    "status" VARCHAR(28),
    index INTEGER,
    price DECIMAL(15,2)
);

-- dim_menu_item_add_on_categories (from dim_menu_item_add_on_categories.csv)
CREATE TABLE dim_menu_item_add_on_categories (
    id BIGINT PRIMARY KEY,
    place_id BIGINT,
    created BIGINT,
    title VARCHAR(68),
    "type" VARCHAR(22),
    multiple_selections BOOLEAN,
    minimum_selections INTEGER,
    maximum_selections INTEGER,
    index INTEGER
);

-- dim_taxonomy_terms (from dim_taxonomy_terms.csv)
CREATE TABLE dim_taxonomy_terms (
    id BIGINT PRIMARY KEY,
    user_id BIGINT,
    created BIGINT,
    updated BIGINT,
    vocabulary VARCHAR(37),
    name VARCHAR(74)
);

-- dim_bill_of_materials (from dim_bill_of_materials.csv)
CREATE TABLE dim_bill_of_materials (
    id BIGINT PRIMARY KEY,
    user_id BIGINT,
    created BIGINT,
    updated BIGINT,
    parent_sku_id BIGINT,
    sku_id BIGINT,
    quantity INTEGER
);

-- dim_campaigns (from dim_campaigns.csv)
CREATE TABLE dim_campaigns (
    id BIGINT PRIMARY KEY,
    user_id BIGINT,
    created BIGINT,
    updated BIGINT,
    place_id BIGINT,
    "status" VARCHAR(22),
    "type" VARCHAR(56)
);

-- dim_products (from dim_products.csv)
CREATE TABLE dim_products (
    id BIGINT PRIMARY KEY,
    user_id BIGINT,
    created BIGINT,
    updated BIGINT,
    title VARCHAR(107),
    "type" VARCHAR(22),
    subtype VARCHAR(19),
    sku VARCHAR(47),
    price DECIMAL(15,2),
    cost DECIMAL(15,2),
    do_not_invoice INTEGER
);

-- fct_order_items (from fct_order_items.csv)
CREATE TABLE fct_order_items (
    id BIGINT PRIMARY KEY,
    user_id BIGINT,
    created BIGINT,
    updated BIGINT,
    title VARCHAR(140),
    campaign_id BIGINT,
    commission_amount DECIMAL(15,2),
    cost DECIMAL(15,2),
    discount_amount DECIMAL(15,2),
    external_id BIGINT,
    "group" TEXT,
    instructions TEXT,
    item_id BIGINT,
    order_id BIGINT,
    points_earned INTEGER,
    points_redeemed INTEGER,
    price DECIMAL(15,2),
    quantity INTEGER,
    redemptions INTEGER,
    removed_ingredients TEXT,
    add_on_ids VARCHAR(124),
    "status" VARCHAR(23),
    vat_amount DECIMAL(15,2)
);

-- fct_payments (from fct_payments_part1.csv)
CREATE TABLE fct_payments (
    id BIGINT PRIMARY KEY,
    user_id BIGINT,
    created BIGINT,
    updated BIGINT,
    amount DECIMAL(15,2),
    card_number TEXT,
    card_type TEXT,
    cashback DECIMAL(15,2),
    change DECIMAL(15,2),
    channel VARCHAR(14),
    commission DECIMAL(15,2),
    customer_reference TEXT,
    deeplink VARCHAR(73),
    demo_mode BOOLEAN,
    description TEXT,
    direction TEXT,
    external_link TEXT,
    merchant_reference TEXT,
    "mode" VARCHAR(22),
    order_code BIGINT,
    payment_for_id BIGINT,
    payment_for_type VARCHAR(17),
    payment_terminal_id BIGINT,
    place_id BIGINT,
    provider VARCHAR(25),
    receipt_number VARCHAR(64),
    received BIGINT,
    requesting_user_id BIGINT,
    requires_signature BOOLEAN,
    session_id BIGINT,
    "status" VARCHAR(23),
    synchronized_to_accounting BOOLEAN,
    tip DECIMAL(15,2),
    trainee_mode BOOLEAN,
    "type" VARCHAR(34),
    url VARCHAR(255),
    voucher_id BIGINT,
    seq_number INTEGER
);

-- fct_app_events (from fct_app_event.csv)
CREATE TABLE fct_app_events (
    id BIGINT PRIMARY KEY,
    created_timestamp BIGINT,
    created_date BIGINT,
    name VARCHAR(46),
    user_profile_id BIGINT,
    attribute_1 INTEGER,
    attribute_2 INTEGER,
    attribute_3 TEXT,
    attribute_4 VARCHAR(255),
    attribute_5 TEXT,
    attribute_6 TEXT,
    attribute_7 TEXT,
    attribute_8 TEXT,
    attribute_9 TEXT,
    attribute_10 TEXT
);

-- fct_app_links (from fct_app_links.csv)
CREATE TABLE fct_app_links (
    id BIGINT PRIMARY KEY,
    user_id BIGINT,
    created BIGINT,
    updated BIGINT,
    channel VARCHAR(14),
    function VARCHAR(22),
    link VARCHAR(73),
    object_id BIGINT,
    place_id BIGINT
);

-- fct_bonus_codes (from fct_bonus_codes.csv)
CREATE TABLE fct_bonus_codes (
    id BIGINT PRIMARY KEY,
    user_id BIGINT,
    created BIGINT,
    updated BIGINT,
    end_date_time INTEGER,
    start_date_time INTEGER,
    place_id BIGINT,
    points INTEGER,
    redemptions TEXT
);

-- fct_campaigns (from fct_campaigns.csv)
CREATE TABLE fct_campaigns (
    id BIGINT PRIMARY KEY,
    user_id BIGINT,
    created BIGINT,
    updated BIGINT,
    title VARCHAR(103),
    age_group_ids TEXT,
    auto_created BIGINT,
    item_ids VARCHAR(116),
    code VARCHAR(22),
    account_ids INTEGER,
    delivery BOOLEAN,
    eat_in BOOLEAN,
    takeaway BOOLEAN,
    discount DECIMAL(15,2),
    discount_type DECIMAL(15,2),
    start_date_time INTEGER,
    end_date_time INTEGER,
    freebie_id BIGINT,
    monday_from TEXT,
    monday_to TEXT,
    tuesday_from INTEGER,
    tuesday_to INTEGER,
    wednesday_from INTEGER,
    wednesday_to INTEGER,
    thursday_from TEXT,
    thursday_to TEXT,
    friday_from TEXT,
    friday_to TEXT,
    saturday_from TEXT,
    saturday_to TEXT,
    sunday_from TEXT,
    sunday_to TEXT,
    gender_ids TEXT,
    goodie_bag_id BIGINT,
    maximum_cltv DECIMAL(15,2),
    maximum_orders INTEGER,
    minimum_cltv DECIMAL(15,2),
    minimum_orders INTEGER,
    minimum_spend INTEGER,
    parent_id BIGINT,
    area_ids TEXT,
    place_id BIGINT,
    price DECIMAL(15,2),
    provider VARCHAR(31),
    redemptions INTEGER,
    redemptions_per_customer INTEGER,
    "status" VARCHAR(22),
    table_id BIGINT,
    tier_category_ids TEXT,
    "type" VARCHAR(56),
    used_redemptions INTEGER,
    validity_hours INTEGER,
    value INTEGER,
    variation VARCHAR(19),
    visibility VARCHAR(20)
);

-- fct_invoice_items (from fct_invoice_items.csv)
CREATE TABLE fct_invoice_items (
    id BIGINT PRIMARY KEY,
    user_id BIGINT,
    created BIGINT,
    updated BIGINT,
    amount DECIMAL(15,2),
    product_id BIGINT,
    description VARCHAR(115),
    invoice_id BIGINT
);

-- fct_notifications (from fct_notifications.csv)
CREATE TABLE fct_notifications (
    id BIGINT PRIMARY KEY,
    user_id BIGINT,
    created BIGINT,
    updated BIGINT,
    entity_type VARCHAR(17),
    entity_id BIGINT,
    title VARCHAR(112),
    body VARCHAR(255),
    "status" VARCHAR(19),
    "type" VARCHAR(32)
);

-- user_events_export (from user_events_export.csv)
CREATE TABLE user_events_export (
    event_id BIGINT,
    visitorid INTEGER,
    eventtype VARCHAR(28),
    eventtime VARCHAR(40),
    productid TEXT,
    uri TEXT,
    producttitle TEXT,
    category_id BIGINT
);

-- most_ordered (from most_ordered.csv)
CREATE TABLE most_ordered (
    place_id BIGINT,
    store_address TEXT,
    device_serial INTEGER,
    device_product INTEGER,
    item_id BIGINT,
    item_name VARCHAR(255),
    order_count INTEGER
);


-- Indexes for performance
CREATE INDEX idx_order_items_user ON fct_order_items(user_id);
CREATE INDEX idx_order_items_item ON fct_order_items(item_id);
CREATE INDEX idx_order_items_order ON fct_order_items(order_id);
CREATE INDEX idx_order_items_created ON fct_order_items(created);

CREATE INDEX idx_payments_user ON fct_payments(user_id);
CREATE INDEX idx_payments_place ON fct_payments(place_id);
CREATE INDEX idx_payments_created ON fct_payments(created);

CREATE INDEX idx_app_events_user ON fct_app_events(user_profile_id);
CREATE INDEX idx_app_events_name ON fct_app_events(name);
CREATE INDEX idx_app_events_created_ts ON fct_app_events(created_timestamp);

CREATE INDEX idx_menu_items_section ON dim_menu_items(section_id);
CREATE INDEX idx_items_section ON dim_items(section_id);
CREATE INDEX idx_items_user ON dim_items(user_id);
